---
import Base from '@layouts/Base.astro';
import Hero from '@components/Hero.astro';

import { Image } from 'astro:assets';

const astroImageFiles = await Astro.glob('src/images/astro/*.svg');
const iconImageFiles = await Astro.glob('src/images/icons/*.svg');

const pageTitle = 'Style Visualization';
const heroTitle =
  "<span class='text-gradient block'>Style Visualization</span>";
const heroDescription = '';

const extractAstroName = (string: string) => {
  const match = string.match(/astro-\d+/);
  return match ? match[0] : null;
};

const extractAstroNumber = (string: string) => {
  const match = string.match(/astro-(\d+)/);
  return match ? match[1] : '0';
};

const extractFileName = (string: string) => {
  const match = string.match(/\/([^\/?]+)\?/);
  return match ? match[1].replace(/\.[^/.]+$/, '') : null;
};

const customColors: { [key: string]: string | { [key: string]: string } } = {
  dark: '#13151a',
  light: '#f5f5f5',
  medium: '#23262d',
  accent: '#883aea',
  'accent-light': '#e0ccfa',
  'accent-dark': '#310a65',
  red: {
    dark: '#C84B44',
    light: '#F8756A'
  },
  blue: {
    dark: '#3844C6',
    light: '#5C68F3'
  },
  green: {
    dark: '#2e9c51',
    emerald: '#50C878',
    light: '#9fdeb0'
  }
};

const orderClasses: { [key: string]: string } = {
  1: 'order-[1]',
  2: 'order-[2]',
  3: 'order-[3]',
  4: 'order-[4]',
  5: 'order-[5]',
  6: 'order-[6]',
  7: 'order-[7]',
  8: 'order-[8]',
  9: 'order-[9]',
  10: 'order-[10]',
  11: 'order-[11]',
  12: 'order-[12]',
  13: 'order-[13]',
  14: 'order-[14]',
  15: 'order-[15]',
  16: 'order-[16]',
  17: 'order-[17]',
  18: 'order-[18]',
  19: 'order-[19]',
  20: 'order-[20]'
};
---

<Base title={pageTitle} indexForSearch={false} includeSearchComponent={false}>
  <Hero title={heroTitle} description={heroDescription} />

  <section class='container'>
    <details name='colors'>
      <summary><h2 class='inline'>Custom Colors</h2></summary>
      <div
        class='p-6 rounded-lg grid grid-cols-2 tablet:grid-cols-4 laptop:grid-cols-6 gap-6 tablet:gap-8'
      >
        {
          Object.keys(customColors).map((color) => (
            <div class='flex flex-col gap-2 items-center p-6'>
              <div
                class='h-20 w-20 rounded-full'
                style={`background-color: ${customColors[color]}`}
              />

              <p class='text-sm text-center px-2'>{color}</p>
            </div>
          ))
        }
      </div>
    </details>

    <span class='block pb-16'></span>

    <details name='images'>
      <summary><h2 class='inline'>Astro SVGs</h2></summary>
      <div
        class='p-6 rounded-lg grid grid-cols-2 tablet:grid-cols-4 laptop:grid-cols-6 gap-6 tablet:gap-8'
      >
        {
          astroImageFiles.map((astroImage) => (
            <div
              class={`flex flex-col gap-2 items-center ${extractAstroNumber(astroImage.default.src) ? orderClasses[extractAstroNumber(astroImage.default.src)] : ''} bg-medium text-white p-6 rounded-full`}
            >
              <Image
                src={astroImage.default}
                alt={`Astro Logo - ${extractAstroName(astroImage.default.src)}`}
                width={astroImage.default.width}
                height={astroImage.default.height}
                class='h-20 w-auto'
              />

              <p class='text-sm text-center px-2'>
                {extractAstroName(astroImage.default.src)}
              </p>
            </div>
          ))
        }
      </div>
    </details>

    <span class='block pb-16'></span>

    <details name='images'>
      <summary><h2 class='inline'>Icon SVGs</h2></summary>
      <div
        class='p-6 rounded-lg grid grid-cols-2 tablet:grid-cols-4 laptop:grid-cols-6 gap-6 tablet:gap-8'
      >
        {
          iconImageFiles.map((iconImage) => (
            <div class='flex flex-col gap-2 items-center bg-medium text-white p-6 rounded-full'>
              <Image
                src={iconImage.default}
                alt={`Icon - ${iconImage.default.src}`}
                width={iconImage.default.width}
                height={iconImage.default.height}
                class='aspect-square'
              />

              <p class='text-sm text-center px-2'>
                {extractFileName(iconImage.default.src)}
              </p>
            </div>
          ))
        }
      </div>
    </details>

    <span class='block pb-16'></span>
  </section>
</Base>
