---
import Base from '@layouts/Base.astro';
import { Image } from 'astro:assets';
import ImageChoppingBoard from '@images/about/cookbook/chopping-board.png';
import ImageMeat from '@images/about/cookbook/meat.png';
import ImageRibs from '@images/about/cookbook/ribs.png';
import ImageMint from '@images/about/cookbook/mint.png';
import ImageBlueberry from '@images/about/cookbook/blueberry.png';
import ImagePizza from '@images/about/cookbook/pizza.png';
import ImageTacos from '@images/about/cookbook/tacos.png';
import ImageDumplings from '@images/about/cookbook/dumplings.png';
import ImageCookies from '@images/about/cookbook/cookies.png';
import ImageKungPaoChicken from '@images/about/cookbook/kung-pao-chicken.png';
import ImageSushi from '@images/about/cookbook/sushi.png';
import ImageBread from '@images/about/cookbook/bread.png';
import ImageNoodles from '@images/about/cookbook/noodles.png';

const baseURL = import.meta.env.BASE_URL;

const title = "David's Cookbook - About";
const header = 'Discover Your Next Favorite Recipe';
const subheader = 'Explore a diverse cookbook with easy-to-follow dishes';
const cTA = 'START COOKING';
---

<Base title={title}>
  <!-- Hero -->
  <section
    class="relative overflow-hidden pt-28 pb-40 laptop:py-36 bg-blue-dark dark:bg-blue-dark/80 text-light"
  >
    <div
      class="relative z-30 container py-10 flex flex-col items-center gap-8 bg-dark/25 backdrop-blur-md laptop:bg-dark/0 laptop:backdrop-blur-none"
    >
      <h1
        class="text-display laptop:max-w-[50vw] desktop:max-w-[65vw] desktopxl:max-w-[50vw] text-center"
      >
        {header}
      </h1>

      <p class="text-display-eyebrow text-center pb-8">{subheader}</p>

      <a
        href={`${baseURL}cookbook/`}
        class="font-bold text-xl tracking-wider px-6 py-3 text-light shadow-2xl shadow-dark bg-green-dark hover:bg-blue-dark rounded-lg transition-all duration-500 green-shimmer-slow hover:blue-shimmer-slow active:brightness-75"
        >{cTA}</a
      >
    </div>
    <Image
      src={ImageMint}
      alt="Mint leaves"
      width={ImageMint.width}
      height={ImageMint.height}
      loading="eager"
      class="w-max h-auto absolute z-10 laptop:z-0 -left-40 -top-36 tablet:-left-60 tablet:-top-40 laptop:-top-52 laptop:-left-56 desktop:-left-48 desktop:-top-28 -rotate-45 desktop:rotate-0 scale-50 desktop:scale-100 drop-shadow-lg drop-shadow-blue-light/80 dark:drop-shadow-blue-dark/90"
    />
    <Image
      src={ImageBlueberry}
      alt="Blueberries"
      width={ImageBlueberry.width}
      height={ImageBlueberry.height}
      loading="eager"
      class="w-max h-auto absolute z-0 -right-40 -top-32 laptop:right-[unset] laptop:top-[unset] laptop:-left-44 laptop:-bottom-36 desktop:-bottom-32 -rotate-45 laptop:rotate-[145deg] desktop:rotate-12 scale-50 desktop:scale-100 drop-shadow-lg drop-shadow-blue-light/80 dark:drop-shadow-blue-dark/90"
    />
    <Image
      src={ImageChoppingBoard}
      alt="Chopping Board"
      width={ImageChoppingBoard.width}
      height={ImageChoppingBoard.height}
      loading="eager"
      class="w-max h-auto absolute z-10 laptop:z-0 -right-32 -bottom-28 tablet:-right-36 tablet:-bottom-40 laptop:bottom-[unset] laptop:-top-28 laptop:-right-36 -rotate-12 desktop:rotate-45 scale-50 desktop:scale-100 drop-shadow-lg drop-shadow-blue-light/80 dark:drop-shadow-blue-dark/90"
    />
    <Image
      src={ImageMeat}
      alt="Meat"
      width={ImageMeat.width}
      height={ImageMeat.height}
      loading="eager"
      class="w-max h-auto absolute z-0 laptop:z-10 -left-48 -bottom-14 tablet:-left-56 laptop:-right-56 laptop:-bottom-32 laptop:left-[unset] desktop:-right-32 desktop:-bottom-20 rotate-180 laptop:rotate-12 desktop:rotate-0 scale-50 desktop:scale-100 drop-shadow-lg drop-shadow-blue-light/80 dark:drop-shadow-blue-dark/90"
    />
    <Image
      src={ImageRibs}
      alt="Ribs"
      width={ImageRibs.width}
      height={ImageRibs.height}
      loading="eager"
      class="w-max h-auto hidden laptop:block absolute z-0 -bottom-48 -right-44 desktop:-bottom-40 desktop:-right-48 rotate-45 desktop:rotate-12 scale-50 desktop:scale-100 drop-shadow-lg drop-shadow-blue-light/80 dark:drop-shadow-blue-dark/90"
    />
    <a
      href="https://www.canva.com/p/iconsy/"
      class="text-xs text-dark content-link-gradient absolute right-4 bottom-0 z-30"
      >Hero images by <span class="font-sans-syne">@iconsy</span></a
    >
  </section>

  <!-- Image Row -->
  <section class="relative bg-light dark:bg-medium py-20">
    <div
      class="container grid grid-cols-4 grid-rows-2 tablet:grid-cols-8 tablet:grid-rows-1 gap-x-12 laptop:gap-x-16 gap-y-10 items-center"
    >
      <Image
        src={ImagePizza}
        alt="Pizza"
        width={ImagePizza.width}
        height={ImagePizza.height}
        loading="eager"
        class="w-full h-auto desktop:max-w-[100px] desktop:mx-auto drop-shadow-md drop-shadow-medium/25 dark:drop-shadow-lg dark:drop-shadow-light/25"
      />
      <Image
        src={ImageTacos}
        alt="Tacos"
        width={ImageTacos.width}
        height={ImageTacos.height}
        loading="eager"
        class="w-full h-auto desktop:max-w-[100px] desktop:mx-auto drop-shadow-md drop-shadow-medium/25 dark:drop-shadow-lg dark:drop-shadow-light/25"
      />
      <Image
        src={ImageDumplings}
        alt="Dumplings"
        width={ImageDumplings.width}
        height={ImageDumplings.height}
        loading="eager"
        class="w-full h-auto desktop:max-w-[100px] desktop:mx-auto drop-shadow-md drop-shadow-medium/25 dark:drop-shadow-lg dark:drop-shadow-light/25"
      />
      <Image
        src={ImageCookies}
        alt="Cookies"
        width={ImageCookies.width}
        height={ImageCookies.height}
        loading="eager"
        class="w-full h-auto desktop:max-w-[100px] desktop:mx-auto drop-shadow-md drop-shadow-medium/25 dark:drop-shadow-lg dark:drop-shadow-light/25"
      />
      <Image
        src={ImageKungPaoChicken}
        alt="Kung Pao Chicken"
        width={ImageKungPaoChicken.width}
        height={ImageKungPaoChicken.height}
        loading="eager"
        class="w-full h-auto desktop:max-w-[100px] desktop:mx-auto drop-shadow-md drop-shadow-medium/25 dark:drop-shadow-lg dark:drop-shadow-light/25"
      />
      <Image
        src={ImageSushi}
        alt="Sushi"
        width={ImageSushi.width}
        height={ImageSushi.height}
        loading="eager"
        class="w-full h-auto desktop:max-w-[100px] desktop:mx-auto drop-shadow-md drop-shadow-medium/25 dark:drop-shadow-lg dark:drop-shadow-light/25"
      />
      <Image
        src={ImageBread}
        alt="Bread"
        width={ImageBread.width}
        height={ImageBread.height}
        loading="eager"
        class="w-full h-auto desktop:max-w-[100px] desktop:mx-auto drop-shadow-md drop-shadow-medium/25 dark:drop-shadow-lg dark:drop-shadow-light/25"
      />
      <Image
        src={ImageNoodles}
        alt="Noodles"
        width={ImageNoodles.width}
        height={ImageNoodles.height}
        loading="eager"
        class="w-full h-auto desktop:max-w-[100px] desktop:mx-auto drop-shadow-md drop-shadow-medium/25 dark:drop-shadow-lg dark:drop-shadow-light/25"
      />
    </div>
    <a
      href="https://www.canva.com/p/trendify/"
      class="text-xs text-dark content-link-gradient absolute right-4 bottom-0 z-30"
      >Content images by <span class="font-sans-syne">@trendify</span></a
    >
  </section>
</Base>
