---
import { Debug } from 'astro:components';

import Base from '@layouts/Base.astro';
import HeroBackground from '@components/HeroSpace.astro';
import { Image } from 'astro:assets';

const pageTitle = 'Gaming Center';
const heroTitle = "<span class='text-gradient'>Gaming Center</span>";
const heroDescription = '';

const steamApiKey = import.meta.env.STEAM_API_KEY;
const steamUserId = import.meta.env.PUBLIC_STEAM_USER_ID;

const games = [
  {
    title: 'Helldivers 2',
    id: 553850,
  },
  {
    title: 'Chivalry 2',
    id: 1824220,
  },
  {
    title: 'Timberborn',
    id: 1062090,
  },
  {
    title: 'Farthest Frontier',
    id: 1044720,
  },
  {
    title: 'The Planet Crafter',
    id: 1284190,
  },
];

const responseGameNews = await fetch(
  `https://api.steampowered.com/ISteamNews/GetNewsForApp/v0002/?appid=553850&count=3&maxlength=500&format=json`,
);
const dataGameNews = await responseGameNews.json();

let dataPlayerData: any = {};
let dataOwnedGames: any = {};

if (steamApiKey && steamUserId) {
  const responsePlayerData = await fetch(
    `http://api.steampowered.com/ISteamUser/GetPlayerSummaries/v0002/?key=${steamApiKey}&steamids=${steamUserId}`,
  );
  dataPlayerData = await responsePlayerData.json();

  const responseOwnedGames = await fetch(
    `http://api.steampowered.com/IPlayerService/GetRecentlyPlayedGames/v0001/?key=${steamApiKey}&steamid=${steamUserId}&format=json`,
  );
  dataOwnedGames = await responseOwnedGames.json();
}

const playerOneData = dataPlayerData.response.players[0];
---

<Base title={pageTitle} indexForSearch={false} includeSearchComponent={false}>
  <HeroBackground title={heroTitle} description={heroDescription} />

  <span class="block pb-8"></span>

  <section class="container">
    <div>
      <h2>
        <a
          href={playerOneData.profileurl}
          target="_blank"
          class="flex gap-2 items-center w-max hover:text-green-emerald"
        >
          {playerOneData.personaname}
          <span class="sr-only">View Steam profile (Opens in a new tab)</span>
          <svg
            width="24px"
            height="24px"
            viewBox="0 0 24 24"
            aria-hidden="true"
            focusable="false"
            fill="none"
          >
            <g
              stroke-width="2.1"
              stroke="#666"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <>
                <polyline points="17 13.5 17 19.5 5 19.5 5 7.5 11 7.5"
                ></polyline>
                <path d="M14,4.5 L20,4.5 L20,10.5 M20,4.5 L11,13.5"></path>
              </>
            </g>
          </svg>
        </a>
      </h2>

      <Image
        src={playerOneData.avatarfull}
        alt="Steam profile avatar"
        width={144}
        height={144}
        class="w-36 h-w-36 rounded-full"
      />
    </div>
  </section>

  <section class="container">
    <!-- <Debug {dataGameNews} /> -->
    <Debug {playerOneData} />
    <!-- <Debug {dataOwnedGames} /> -->
    <span class="block pb-16"></span>
  </section>
</Base>

<style>
  .container {
    @apply select-text;
  }
</style>
