---
import { getCollection } from 'astro:content';
import Base from '@layouts/Base.astro';
import Hero from '@components/Hero.astro';
import Card from '@components/Card.astro';

const baseURL = import.meta.env.BASE_URL;
const allBlogPosts = await getCollection('blog');

const pageTitle = 'Blog Home';
const heroTitle = "<span class='text-gradient'>Blog</span>";
const heroDescription = 'Browse my collection of blog posts.';
---

<Base title={pageTitle} indexForSearch={false} includeSearchComponent={false}>
  <Hero title={heroTitle} description={heroDescription} />

  <section class='container'>
    <ul
      role='list'
      class='grid grid-cols-1 tablet:grid-cols-2 laptop:grid-cols-4 gap-8'
    >
      {
        allBlogPosts.map((post) => (
          <Card
            href={`${baseURL}blog/posts/${post.slug}/`}
            title={post.data.title}
            body={post.data.description}
            tags={post.data.tags}
          />
        ))
      }
    </ul>

    <span class='block pb-16'></span>
  </section>
</Base>
