---
export const prerender = true;

import Base from '@layouts/Base.astro';
import HeroBackground from '@components/HeroSpace.astro';
import NoteBlock from '@components/NoteBlock.astro';
import Card from '@components/Card.astro';

const baseURL = import.meta.env.BASE_URL;
const pageTitle = '404: Not Found';
const heroTitle =
  '<span class="block font-mono">Error: <code class="dark-background block tablet:inline-block mt-5 tablet:mt-0">404 Not Found</code></span>';
const heroDescription = 'This is not the page you are looking for';
---

<Base title={pageTitle}>
  <HeroBackground title={heroTitle} description={heroDescription} />

  <section class="container">
    <div class="laptop:max-w-[90ch] laptop:mx-auto">
      <span class="block pb-10"></span>

      <NoteBlock>
        The URL you are trying to access does not exist. Please check the URL
        and try again, or use the links below to navigate to a different part of
        the site.
      </NoteBlock>

      <span class="block pb-10"></span>

      <ul class="tablet:grid-cols-3 grid grid-cols-1 gap-8">
        <Card
          href={`${baseURL}`}
          title="Homepage"
          body="Visit the homepage."
          tags={['Intro', 'Resume', 'About']}
        />
        <Card
          href={`${baseURL}cookbook`}
          title="Cookbook"
          body="A collection of recipes I have enjoyed."
          tags={['Recipes', 'Food', 'Cooking']}
        />
        <Card
          href={`${baseURL}about`}
          title="About me"
          body="My gamified personal bio."
          tags={['About', 'Fun', 'Personal']}
        />
      </ul>

      <span class="block pb-[200px]"></span>
    </div>
  </section>
</Base>
