---
interface Props {
  title: string;
  description: string | null;
  isCentered?: boolean;
  classes?: string;
}

const { title, description, isCentered = true, classes = '' } = Astro.props;

const alignmentClasses = isCentered ? 'text-center' : 'text-left';
---

<section class={classes}>
  <div class="container">
    <span class="laptop:pb-24 desktop:pb-28 block pb-20"></span>

    <h1 set:html={title} class={alignmentClasses} />

    {
      description ? (
        <>
          <span class="block pb-8" />
          <p
            set:html={description}
            class={`${alignmentClasses} desktop:text-2xl text-xl`}
          />
          <slot />
          <span class="laptop:pb-24 desktop:pb-28 block pb-20" />
        </>
      ) : (
        <>
          <slot />
          <span class="laptop:pb-24 desktop:pb-28 block pb-20" />
        </>
      )
    }
  </div>
</section>
