---
import AstroLogoSpread from '@images/astro/astro-9.svg';
import AstroLogoBook from '@images/astro/astro-6.svg';
import AstroLogoGame from '@images/astro/astro-10.svg';
import AstroLogoPencil from '@images/astro/astro-8.svg';
import AstroLogoDesk from '@images/astro/astro-3.svg';

interface NavigationLinks {
  [key: string]: string;
}

const baseURL = import.meta.env.BASE_URL;
const pathname = Astro.url.pathname;

const obj: NavigationLinks = {
  home: `${baseURL}`,
  cookbook: `${baseURL}about/cookbook/`,
  about: `${baseURL}about/`,
  // blog: `${baseURL}blog/`
};

let AstroLogo = AstroLogoSpread;
const customNavClasses =
  pathname.includes('about') && !pathname.includes('cookbook')
    ? 'border-b-2 border-light'
    : '';

if (pathname.includes('cookbook')) {
  AstroLogo = AstroLogoBook;
} else if (pathname.includes('about')) {
  AstroLogo = AstroLogoGame;
} else if (pathname.includes('blog')) {
  AstroLogo = AstroLogoPencil;
} else if (pathname.includes('style')) {
  AstroLogo = AstroLogoDesk;
}

// If on homepage, don't include the 'href' attribute on the link element
const homepageLinkAttributes = pathname === baseURL ? {} : { href: baseURL };

const nonLinkClasses =
  'text-light/80 hover:text-light/80 dark:text-light/80 dark:hover:text-light/80 w-max px-3 py-2 uppercase text-sm';
const linkClasses =
  'text-light hover:text-green-emerald hover:scale-110 transition-[color,scale] w-max px-3 py-2 uppercase text-sm';

const navItems: string[] = Object.keys(obj).map(
  (key) =>
    `<li class='flex items-center'>
      ${pathname === obj[key] ? `<span class="${nonLinkClasses}">${key}</span>` : `<a href="${obj[key]}" class="${linkClasses}">${key}</a>`}
  </li>`,
);
---

<nav
  id="main-nav"
  class={`bg-blue-darker/80 dark:bg-green-darker/80 text-light font-semibold tracking-wider laptop:rounded-none laptop:sticky laptop:top-0 tablet:pb-4 z-30 pt-4 pb-2 laptop:mx-0 backdrop-blur-md laptop:transition-[border-radius,top,margin] laptop:duration-700 ${customNavClasses}`}
>
  <div class="container flex flex-wrap items-center justify-between gap-y-2">
    <a href="#main" class="skip-link">Skip to content</a>

    <div class="group flex items-center">
      <AstroLogo
        class={pathname === baseURL
          ? 'h-10 tablet:h-12 w-auto'
          : 'h-10 tablet:h-12 w-auto group-hover:-rotate-12 transition-transform'}
      />
      {
        pathname === baseURL ? (
          <span class="px-4 py-2">David’s Place</span>
        ) : (
          <a
            {...homepageLinkAttributes}
            class="group-hover:text-green-emerald px-4 py-2 transition-[color,scale] group-hover:scale-110"
            aria-label="David’s Place Homepage"
          >
            David’s Place
          </a>
        )
      }
    </div>

    <div class="flex items-center gap-4">
      <!-- Nav items visible on tablet+ -->
      <ul class="laptop:flex hidden items-center gap-3" set:html={navItems} />

      <fieldset class="flex flex-col items-center gap-1">
        <legend class="sr-only">Select Dark Mode:</legend>
        <input
          type="checkbox"
          id="darkModeSwitch"
          checked="true"
          class="bg-light before:bg-green-dark checked:bg-light checked:before:bg-blue-dark relative h-6 w-12 appearance-none rounded-full transition-all duration-500 before:absolute before:top-1/2 before:left-1 before:h-4 before:w-4 before:-translate-y-1/2 before:rounded-full before:transition-all before:duration-500 before:content-[''] checked:before:left-7 hover:brightness-125"
        />
        <label
          for="darkModeSwitch"
          class="w-[70px] text-center text-xs opacity-75">Dark Mode</label
        >
      </fieldset>

      <div class="flex items-center gap-2">
        <button
          id="font-decrease"
          class="border-light/10 hover:border-green-emerald active:border-light/10 flex min-h-5 min-w-10 items-center justify-center border-b px-1 py-1 duration-300"
          aria-label="Decrease Font Size">A-</button
        >
        <span
          ><span class="sr-only">Current font size:</span><span id="font-size"
            >16</span
          ></span
        >
        <button
          id="font-increase"
          class="border-light/10 hover:border-green-emerald active:border-light/10 flex min-h-5 min-w-10 items-center justify-center border-b-2 px-1 py-1 duration-300"
          aria-label="Increase Font Size">A+</button
        >
      </div>
    </div>
  </div>

  <!-- Nav items visible on mobile only -->
  <div class="laptop:hidden container">
    <span class="border-t-green-emerald my-4 block border-t"></span>
    <ul
      class="flex flex-wrap items-center justify-center gap-x-4 gap-y-2"
      set:html={navItems}
    />
  </div>
</nav>

<style>
  .skip-link {
    position: absolute;
    top: calc(var(--spacing) * 3);
    left: calc(1 / 2 * 100%);
    --tw-translate-x: calc(calc(1 / 2 * 100%) * -1);
    translate: var(--tw-translate-x) var(--tw-translate-y);
    --tw-translate-y: calc(175% * -1);
    translate: var(--tw-translate-x) var(--tw-translate-y);
    width: max-content;
    background-color: var(--color-dark);
    color: var(--color-light);
    padding-inline: calc(var(--spacing) * 5);
    height: calc(var(--spacing) * 10);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 40;
    border-radius: var(--radius-lg);
    font-family: var(--font-mono);
    text-transform: uppercase;
    font-size: var(--text-xs);
    line-height: var(--tw-leading, var(--text-xs--line-height));
    transition-property: all;
    transition-timing-function: var(
      --tw-ease,
      var(--default-transition-timing-function)
    );
    transition-duration: var(--tw-duration, var(--default-transition-duration));
    --tw-duration: 500ms;
    transition-duration: 500ms;
  }

  .skip-link:focus {
    --tw-translate-y: calc((1 / 6 * 100%) * -1);
    translate: var(--tw-translate-x) var(--tw-translate-y);
  }
</style>

<script is:inline>
  function applyTheme() {
    // Set theme based on local storage or prefers-color-scheme
    const darkModeSwitch = document.getElementById('darkModeSwitch');
    const darkModeLabel = document.querySelector('label[for="darkModeSwitch"]');

    if (
      localStorage.theme === 'dark' ||
      (!('theme' in localStorage) &&
        window.matchMedia('(prefers-color-scheme: dark)').matches)
    ) {
      document.documentElement.classList.add('dark');

      if (darkModeSwitch && darkModeLabel) {
        darkModeSwitch.checked = true;
        darkModeSwitch.setAttribute('aria-checked', true);
        darkModeLabel.textContent = 'Dark Mode';
      }
    } else {
      document.documentElement.classList.remove('dark');

      if (darkModeSwitch && darkModeLabel) {
        darkModeSwitch.checked = false;
        darkModeSwitch.setAttribute('aria-checked', false);
        darkModeLabel.textContent = 'Light Mode';
      }
    }
  }

  function setTheme(event) {
    // Set local storage theme based on checked state of switch
    localStorage.theme = event.target.checked ? 'dark' : 'light';
    applyTheme();
  }

  document.addEventListener('astro:after-swap', applyTheme);
  document.addEventListener('astro:page-load', () => {
    document
      .getElementById('darkModeSwitch')
      ?.addEventListener('click', setTheme);
  });

  applyTheme();
</script>

<script is:inline>
  function applyFontSize(newDocument) {
    // Set font size based on local storage or default
    const root = newDocument?.documentElement || document.documentElement;
    const targetDocument = newDocument || document;
    const currentFontSize = parseFloat(getComputedStyle(root).fontSize);
    const storedFontSize = localStorage.fontSize;

    if (storedFontSize) {
      root.style.fontSize = `${storedFontSize}px`;
      targetDocument.getElementById('font-size').textContent = storedFontSize;
    } else if (currentFontSize) {
      root.style.fontSize = `${currentFontSize}px`;
      targetDocument.getElementById('font-size').textContent = currentFontSize;
      localStorage.fontSize = currentFontSize;
    } else if (!storedFontSize && !currentFontSize) {
      root.style.fontSize = '16px';
      targetDocument.getElementById('font-size').textContent = '16';
      localStorage.fontSize = '16';
    }
  }

  document.addEventListener('astro:before-swap', (event) => {
    applyFontSize(event.newDocument);
  });

  document.addEventListener('astro:page-load', () => {
    document.getElementById('font-decrease')?.addEventListener('click', () => {
      const root = document.documentElement;
      const currentFontSize = parseFloat(getComputedStyle(root).fontSize);
      const newFontSize = currentFontSize - 1;
      localStorage.fontSize = newFontSize;
      applyFontSize();
    });

    document.getElementById('font-increase')?.addEventListener('click', () => {
      const root = document.documentElement;
      const currentFontSize = parseFloat(getComputedStyle(root).fontSize);
      const newFontSize = currentFontSize + 1;
      localStorage.fontSize = newFontSize;
      applyFontSize();
    });
  });

  applyFontSize();
</script>

<!-- Handle nav scroll effect -->
<script>
  function initializeNavScrollEffect() {
    const nav = document.getElementById('main-nav');

    if (!nav) {
      console.warn('Main nav element not found');
      return;
    }

    window.addEventListener('scroll', () => {
      // If user has scrolled 150px
      const navScrollActive = window.scrollY > 150;

      if (navScrollActive) {
        nav.classList.remove('laptop:rounded-none');
        nav.classList.add('laptop:rounded-[999px]');
        nav.classList.remove('laptop:top-0');
        nav.classList.add('laptop:top-4');
        nav.classList.remove('laptop:mx-0');
        nav.classList.add('laptop:mx-4');
      } else {
        nav.classList.remove('laptop:rounded-[999px]');
        nav.classList.add('laptop:rounded-none');
        nav.classList.remove('laptop:top-4');
        nav.classList.add('laptop:top-0');
        nav.classList.remove('laptop:mx-4');
        nav.classList.add('laptop:mx-0');
      }
    });
  }

  document.addEventListener('astro:page-load', initializeNavScrollEffect);
  initializeNavScrollEffect();
</script>
