---
import '@styles/styles.css';
import '@fontsource-variable/syne';
import '@fontsource-variable/reddit-mono';
import '@fontsource-variable/reddit-sans';
import '@fontsource-variable/reddit-sans/wght-italic.css';

import { getImage } from 'astro:assets';
import { ClientRouter } from 'astro:transitions';

import generalOGImage from '@images/og/og-davids-place.png';
import headshot from '@images/general/david-weid-headshot-3.jpg';

import MainNav from '@components/MainNav.astro';
import MainFooter from '@components/MainFooter.astro';

interface Props {
  title: string;
  indexForSearch?: boolean;
  includeSearchComponent?: boolean;
  classes?: string | '';
}

const baseURL = import.meta.env.BASE_URL;
const isDev = import.meta.env.DEV;
const pathname: string = `${baseURL}${new URL(Astro.request.url).pathname}`;
const urlString: string = new URL(Astro.request.url).href;

const {
  title,
  indexForSearch = true,
  includeSearchComponent = false,
  classes = '',
} = Astro.props;

const metaTitle: string = title ? `${title} | David’s Place` : 'David’s Place';
const metaDescription: string =
  'David’s Place, an AstroJS & TailwindCSS playground, includes projects, blogs, and ideas related to web development and other interests of David Weid II.';

const mainElementAttributes: {
  id: string;
  'data-pagefind-body'?: string;
  class?: string;
} = {
  id: 'main',
};

// If indexForSearch is true, add 'data-pagefind-body' to mainElementAttributes, set to 'true'
if (indexForSearch) {
  mainElementAttributes['data-pagefind-body'] = 'true';
}

// If classes is not an empty string, add it to the class attribute of mainElementAttributes
if (classes !== '') {
  mainElementAttributes.class = classes;
}

const image = await getImage({
  src: headshot,
  width: 400,
  height: 400,
  format: 'webp',
});
---

<!doctype html>
<html lang="en" class="dark" data-pagefind-meta={`url[${pathname}]`}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <link rel="canonical" href={urlString} />
    <link rel="sitemap" href={`${baseURL}sitemap-index.xml`} />

    <!-- Preload Homepage Hero Image -->
    {
      !isDev && baseURL === Astro.url.pathname && (
        <link rel="preload" as="image" href={image.src} type="image/webp" />
      )
    }

    <!-- Preload fonts -->
    {
      !isDev && (
        <>
          <link
            rel="preload"
            as="font"
            href="/_astro/reddit-mono-latin-wght-normal.D-iY--WA.woff2"
            type="font/woff2"
            crossorigin="anonymous"
          />
          <link
            rel="preload"
            as="font"
            href="/_astro/reddit-sans-latin-wght-normal.JL-U5tLY.woff2"
            type="font/woff2"
            crossorigin="anonymous"
          />
          <link
            rel="preload"
            as="font"
            href="/_astro/syne-latin-wght-normal.BVsvWWA4.woff2"
            type="font/woff2"
            crossorigin="anonymous"
          />
        </>
      )
    }

    <link rel="icon" type="image/ico" href=`${baseURL}favicon.ico` />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href={`${baseURL}apple-touch-icon.png?v=1`}
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href={`${baseURL}favicon-32x32.png?v=1`}
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href={`${baseURL}favicon-16x16.png?v=1`}
    />
    <link rel="manifest" href={`${baseURL}site.webmanifest?v=1`} />
    <link
      rel="mask-icon"
      href={`${baseURL}safari-pinned-tab.svg?v=1`}
      color="#3844C6"
    />
    <link rel="shortcut icon" href={`${baseURL}favicon.ico?v=1`} />
    <meta name="apple-mobile-web-app-title" content="David’s Place" />
    <meta name="application-name" content="David’s Place" />
    <meta name="msapplication-TileColor" content="#603cba" />
    <meta name="theme-color" content="#3844C6" />

    <title>{metaTitle}</title>
    <meta name="description" content={metaDescription} />

    <meta property="og:locale" content="en_US" />
    <meta property="og:title" content={metaTitle} />
    <meta property="og:description" content={metaDescription} />
    <meta property="og:url" content={urlString} />
    <meta
      property="og:site_name"
      content="Portfolio Project Focused on Web Development | David’s Place"
    />
    <meta property="og:type" content="website" />
    <meta property="og:image" content={generalOGImage.src} />
    <meta property="og:image:width" content={`${generalOGImage.width}`} />
    <meta property="og:image:height" content={`${generalOGImage.height}`} />
    <meta
      property="og:image:alt"
      content="Social Media Open Graph Illustration for David’s Place"
    />
    <meta property="og:image:type" content="image/png" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={metaTitle} />
    <meta name="twitter:description" content={metaDescription} />
    <meta name="twitter:image" content={generalOGImage.src} />

    {
      baseURL === Astro.url.pathname && (
        <>
          <meta
            name="google-site-verification"
            content="riTFFVMSa2yEdiUjWs5sdzQHRQYwJLh_pxBZNU0C-3U"
          />
          <meta
            name="google-site-verification"
            content="Bm34wlDQOik0PAEyLgoPS5HngxKqpjDJgwenNJbbQ6c"
          />
        </>
      )
    }

    {
      includeSearchComponent && (
        <>
          <link href={`${baseURL}pagefind/pagefind-ui.css`} rel="stylesheet" />
          <script is:inline src={`${baseURL}pagefind/pagefind-ui.js`} />
        </>
      )
    }

    <ClientRouter />
  </head>
  <body>
    <MainNav />
    <main {...mainElementAttributes}>
      <slot />
    </main>
    <MainFooter />

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-P6872JXQ90"
    ></script>
    <script>
      // @ts-ignore
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        // @ts-ignore
        dataLayer.push(arguments);
      }
      // @ts-ignore
      gtag('js', new Date());
      // @ts-ignore
      gtag('config', 'G-P6872JXQ90');
    </script>
  </body>
</html>
