---
import '@styles/styles.css';
import '@fontsource-variable/syne';
import '@fontsource-variable/reddit-mono';
import '@fontsource-variable/reddit-sans';
import '@fontsource-variable/reddit-sans/wght-italic.css';

import { ClientRouter } from 'astro:transitions';

import generalOGImage from '@images/og/og-davids-place.png';

import MainNav from '@components/MainNav.astro';
import MainFooter from '@components/MainFooter.astro';
import Analytics from '@components/Analytics.astro';

interface Props {
  title: string;
  description?: string;
  preloadImage?: {
    src: string;
    format: string;
    pathname: string;
  };
  classes?: string | '';
}

const baseURL = import.meta.env.BASE_URL;
const isDev = import.meta.env.DEV;
const urlString: string = new URL(Astro.request.url).href;

const { title, description, preloadImage, classes = '' } = Astro.props;

const metaTitle: string = title ? `${title} | David’s Place` : 'David’s Place';
const metaDescription: string =
  description ||
  'David’s Place, an AstroJS & TailwindCSS playground, includes projects, blogs, and ideas related to web development and other interests of David Weid II.';

const mainElementAttributes: {
  id: string;
  class?: string;
} = {
  id: 'main',
  class: `flex-grow ${classes}`.trim(),
};
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <link rel="canonical" href={urlString} />
    <link rel="sitemap" href={`${baseURL}sitemap-index.xml`} />

    <!-- Preconnect to resources -->
    {
      !isDev && (
        <>
          <link rel="preconnect" href="https://www.googletagmanager.com" />
          <link rel="preconnect" href="https://www.google-analytics.com" />
        </>
      )
    }

    <!-- Preload page-specific hero image -->
    {
      !isDev &&
        preloadImage &&
        preloadImage.pathname === Astro.url.pathname && (
          <link
            rel="preload"
            as="image"
            href={preloadImage.src}
            type={`image/${preloadImage.format}`}
          />
        )
    }

    <!-- Preload fonts -->
    {
      !isDev && (
        <>
          <link
            rel="preload"
            as="font"
            href="/_astro/reddit-mono-latin-wght-normal.D-iY--WA.woff2"
            type="font/woff2"
            crossorigin="anonymous"
          />
          <link
            rel="preload"
            as="font"
            href="/_astro/reddit-sans-latin-wght-normal.JL-U5tLY.woff2"
            type="font/woff2"
            crossorigin="anonymous"
          />
          <link
            rel="preload"
            as="font"
            href="/_astro/syne-latin-wght-normal.BVsvWWA4.woff2"
            type="font/woff2"
            crossorigin="anonymous"
          />
        </>
      )
    }

    <link rel="icon" type="image/ico" href=`${baseURL}favicon.ico` />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href={`${baseURL}apple-touch-icon.png?v=5`}
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href={`${baseURL}favicon-32x32.png?v=5`}
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href={`${baseURL}favicon-16x16.png?v=5`}
    />
    <link rel="manifest" href={`${baseURL}site.webmanifest?v=5`} />
    <link
      rel="mask-icon"
      href={`${baseURL}safari-pinned-tab.svg?v=5`}
      color="#3844C6"
    />
    <link rel="shortcut icon" href={`${baseURL}favicon.ico?v=5`} />
    <meta name="apple-mobile-web-app-title" content="David’s Place" />
    <meta name="application-name" content="David’s Place" />
    <meta name="msapplication-TileColor" content="#3844C6" />
    <meta name="theme-color" content="#3844C6" />

    <title>{metaTitle}</title>
    <meta name="description" content={metaDescription} />

    <meta property="og:locale" content="en_US" />
    <meta property="og:title" content={metaTitle} />
    <meta property="og:description" content={metaDescription} />
    <meta property="og:url" content={urlString} />
    <meta
      property="og:site_name"
      content="Portfolio Project Focused on Web Development | David’s Place"
    />
    <meta property="og:type" content="website" />
    <meta property="og:image" content={generalOGImage.src} />
    <meta property="og:image:width" content={`${generalOGImage.width}`} />
    <meta property="og:image:height" content={`${generalOGImage.height}`} />
    <meta
      property="og:image:alt"
      content="Social Media Open Graph Illustration for David’s Place"
    />
    <meta property="og:image:type" content="image/png" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={metaTitle} />
    <meta name="twitter:description" content={metaDescription} />
    <meta name="twitter:image" content={generalOGImage.src} />

    {
      baseURL === Astro.url.pathname && (
        <>
          <meta
            name="google-site-verification"
            content="riTFFVMSa2yEdiUjWs5sdzQHRQYwJLh_pxBZNU0C-3U"
          />
          <meta
            name="google-site-verification"
            content="Bm34wlDQOik0PAEyLgoPS5HngxKqpjDJgwenNJbbQ6c"
          />
        </>
      )
    }

    <ClientRouter />
  </head>
  <body class="flex flex-col min-h-screen justify-between">
    <MainNav />
    <main {...mainElementAttributes}>
      <slot />
    </main>
    <MainFooter />
    <Analytics />
  </body>
</html>
