---
import Base from '@layouts/Base.astro';
import Hero from '@components/Hero.astro';

interface Props {
  frontmatter: {
    title: string;
    description: string;
    pubDate: Date;
    author: string;
    image: {
      url: string;
      alt: string;
    };
    tags: string[];
  };
}

const { frontmatter } = Astro.props;
const { title, description, pubDate, author, image, tags } = frontmatter;
const pageTitle = `Blog Post: ${title}`;
const heroTitle = title;
const heroDescription = description;
---

<Base title={pageTitle} indexForSearch={false}>
  <Hero title={heroTitle} description={heroDescription} />

  <hr class="green-blue-shimmer-slow h-1 border-0" />

  <div
    data-tags={`| tags: ${tags.join(', ')}`}
    data-pagefind-index-attrs="data-tags"
    class="bg-light dark:bg-medium"
  >
    <div class="container">
      <span class="block pb-8"></span>

      <section>
        <slot />
      </section>

      <span class="block pb-[200px]"></span>
    </div>
  </div>
</Base>
