---
import Layout from './Layout.astro';
import Hero from '../components/Hero.astro';
interface Props {
  frontmatter: {
    title: string;
    description: string;
    source: string;
    pubDate: Date;
    author: string;
    image: {
      url: string;
      alt: string;
    };
    tags: string[];
    servings: string;
    prepTime: string;
    cookTime: string;
    totalTime: string;
    ingredients: string[];
    instructions: string[];
  };
}

const { frontmatter } = Astro.props;
const {
  title,
  description,
  source,
  pubDate,
  author,
  image,
  tags,
  servings,
  prepTime,
  cookTime,
  totalTime,
  ingredients,
  instructions
} = frontmatter;
const heroTitle = title;
const heroDescription = description;
---

<Layout title={title}>
  <Hero title={heroTitle} description={heroDescription}>
    <span class='block pb-4'></span>
    <div class='flex flex-wrap justify-center gap-8'>
      <span class='flex flex-col gap-0.5 items-center'>
        <span class='text-gradient font-bold text-lg'>PREP TIME</span>
        {prepTime}
      </span>
      <span class='flex flex-col gap-0.5 items-center'>
        <span class='text-gradient font-bold text-lg'>TOTAL TIME</span>
        {totalTime}
      </span>
      <span class='flex flex-col gap-0.5 items-center'>
        <span class='text-gradient font-bold text-lg'>SERVINGS</span>
        {servings}
      </span>
    </div>
  </Hero>

  <hr class='container border-accent' />

  <section class='container'>
    <span class='block pb-8'></span>

    <div class='grid grid-cols-1 laptop:grid-cols-3 gap-8'>
      {
        ingredients && (
          <div>
            <h2 class='text-2xl font-bold'>Ingredients</h2>
            <ul class='list-disc pl-4'>
              {ingredients.map((ingredient) => (
                <li>{ingredient}</li>
              ))}
            </ul>
          </div>
        )
      }

      {
        instructions && (
          <div class='laptop:col-span-2'>
            <h2 class='text-2xl font-bold'>Instructions</h2>
            <ol class='flex flex-col gap-4'>
              {instructions.map((instruction, index) => (
                <li class='flex flex-col gap-2 border-b'>
                  <span>Step {index + 1}</span>
                  {instruction}
                </li>
              ))}
            </ol>
          </div>
        )
      }
    </div>

    <span class='block pb-8'></span>
    <slot />
    <span class='block pb-16'></span>
  </section>
</Layout>
