---
import { getCollection } from 'astro:content';
import Base from '@layouts/Base.astro';
import Hero from '@components/Hero.astro';
import Search from '@components/Search.astro';
import Card from '@components/Card.astro';

const baseURL = import.meta.env.BASE_URL;
const allCookbookRecipes = await getCollection('cookbook');

const pageTitle = 'Cookbook Home';
const heroTitle = "<span class='text-gradient'>David's Cookbook</span>";
const heroDescription = '';
---

<Base title={pageTitle} indexForSearch={false} includeSearchComponent={true}>
  <Hero title={heroTitle} description={heroDescription} />

  <div class='container'>
    <Search id='search' />
  </div>

  <span class="block pb-8"></span>

  <section class='container'>
    <ul
      role='list'
      class='grid grid-cols-1 tablet:grid-cols-2 laptop:grid-cols-4 gap-8'
    >
      {
        allCookbookRecipes.map((recipe) => (
          <Card
            href={`${baseURL}cookbook/recipes/${recipe.slug}/`}
            title={recipe.data.title}
            body={recipe.data.description}
            tags={recipe.data.tags}
          />
        ))
      }
    </ul>

    <span class='block pb-16'></span>
  </section>
</Base>
