---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import Hero from '../../components/Hero.astro';
import Search from "astro-pagefind/components/Search";
import Card from '../../components/Card.astro';

const baseURL = import.meta.env.BASE_URL;
const allCookbookRecipes = await getCollection('cookbook');

const pageTitle = 'Cookbook Home';
const heroTitle = "<span class='text-gradient'>David's Cookbook</span>";
const heroDescription = '';
---

<Layout title={pageTitle}>
  <Hero title={heroTitle} description={heroDescription} />

  <Search id="search" className="pagefind-ui" uiOptions={{ showImages: false }}/>

  <section class='container'>
    <ul
      role='list'
      class='grid grid-cols-1 tablet:grid-cols-2 laptop:grid-cols-4 gap-4 tablet:gap-6 laptop:gap-8'
    >
      {
        allCookbookRecipes.map((recipe) => (
          <Card
            href={`${baseURL}cookbook/recipes/${recipe.slug}/`}
            title={recipe.data.title}
            body={recipe.data.description}
            tags={recipe.data.tags}
          />
        ))
      }
    </ul>

    <span class="block pb-16"></span>
  </section>
</Layout>
